<div class="profile">
    <div class="bio-box">
        <div class="profile-box">
            <div class="edit">
                <img src="../../../assets/images/profile-img.jpg">
                <h4>Selina Kyle</h4>
                <div class="button-group">
                    <button mat-menu-item>
                        <mat-icon>edit</mat-icon>
                        <span>Edit</span>
                    </button>
                    <button mat-menu-item>
                        <mat-icon>delete</mat-icon>
                        <span>Delete</span>
                    </button>
                </div>
            </div>

            <div class="notification-box">
                <span>Notification</span>
                <mat-slide-toggle></mat-slide-toggle>
            </div>
            <div class="reset-password">
                <span>Change Password</span>
                
            </div>
        </div>
    </div>
    <div class="edit-box">
        <app-add-interviewer></app-add-interviewer>
    </div>
</div>