

<div class="schedule">
    <div class="schedule-heading">
        <mat-tab-group>
            <mat-tab label="LIST VIEW">
                <mat-form-field appearance="outline" class="custom-form-field" >                  
                       
                    <input matInput #input placeholder="Search Interviewer" class="input-field">
                </mat-form-field>
                <mat-list role="list" class="list">
                    <mat-divider></mat-divider>
                    <mat-list-item role="listitem">
                        <h4>INTERVIEWER NAME</h4>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item role="listitem"><span>JB </span>Jack Black </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item role="listitem"><span> KG</span> Keval Gor</mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item role="listitem"><span>TJ </span> Test Johan</mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item role="listitem"><span>TT </span> Test Test</mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item role="listitem"><span> HT</span> Hemant Patel</mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item role="listitem"><span>PM </span> Prful Mali</mat-list-item>
                    <mat-divider></mat-divider>
                </mat-list>
            </mat-tab>
            <mat-tab label="CALENDER VIEW">


            </mat-tab>

        </mat-tab-group>
    </div>
</div>