.technology{
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
    list-style-type: none;
    padding: 0;
}
.technology li{
    padding: 15px;
    border-radius: 10px;
    background-color: #ffffff;
    margin: 10px;
    min-width: 250px;
}